<h1 class="main-title">Daily Rowan</h1>
<div class="main-pic-container">
  <%= image_tag "rowan-pics/#{@photo.photo}", class: "rowan-pic gallery-image" %>
</div>

<div class="last-five">
	<p class="recent-photos">Recent Photos</p>
	<div class="last-five-container">
		<% @last_five.each do |pic| %>
			<% if photo_height(pic.photo) > photo_width(pic.photo) %>
				<div class="image">
				<%= image_tag "rowan-pics/#{pic.photo}", class: " gallery-image portrait" %>
				</div>
			<% else %>
				<div class="image">
				<%= image_tag "rowan-pics/#{pic.photo}", class: " gallery-image" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="insta-container">
</div>