// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:500);

.main-title {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 90px;
	color: #572727;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.last-five {
	display: flex;
	flex-flow: column;
	text-align: center;
	margin-bottom: 15px;
	.last-five-container {
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.recent-photos {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	color: #572727;
}
.insta-container {
	width: 100%;
	text-align: center;
}

.rowan-pic {
	display: block;
	margin: 35px auto 20px;
	max-width: 65%;
	max-height: 540px;
	vertical-align: middle;
	border: 10px solid white;
}

.insta-name {
	margin: auto;
	padding: 0px;
	max-height: 40px;
}
.image {
	display: flex;
	margin: 1% 1%;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
	border: 10px solid white;
}
.image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.image img.portrait {
	width: 100%;
	height: auto;
}
.last-five .gallery-image {
	cursor: pointer;
}

/* lightbox animation*/
.mfp-zoom-in {

	cursor: default;
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

@media only screen and (min-width: 1500px) {
	.rowan-pic {
		max-height: 700px;
		max-width: 60%;
		margin-top: 5em;
		margin-bottom: 2em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 1500px) {
	.main-title {
		margin-top: .7em;
		margin-bottom: .8em;
		font-size: 50px;
	}
	.rowan-pic {
		max-width: 85%;
		margin-top: 3.5em;
		margin-bottom: 2.5em;
	}
}
@media only screen and (min-width: 220px) and (max-width: 480px) {
	.main-title {
		line-height: .8em;
		font-size: 40px;
	}
	.rowan-pic {
		max-width: 85%;
		margin-top: 3.5em;
		margin-bottom: 2.5em;
	}
	.image {
		width: 100px;
		height: 100px;
		border: 5px solid white;
	}
}